<h1>Caribbean Reads</h1>

<ul>
  <li>Dancing in the Rain - Lynn Joseph</li>
  <li>Dreams Beyond The Shore - Tamika  Gibson</li>
  <li>Girlcott - Florenz Webbe Maxwell</li>
  <li>The Chaos - Nalo Hopkinson</li>
  <li>Pride - Ibi Zoboi</li>
  <li>Cuba 15 - Nancy Osa</li>
  <li>Dew Angels - Melanie Schwapp</li>
  <li>Claire of the Sea Light - Edwidge Danticat</li>
  <li>Wide Sargasso Sea - Jean Rhys</li>
  <li>Return to Send - Julia Alvarez</li>
</ul>