<h1>East Asian Reads</h1>

<ul>
  <li>Chinese Cinderella - Adeline Yen May</li>
  <li>Chinese Cinderella and the Secret Dragon Society - Adeline Yen Mah</li>
  <li>Falling Leaves - Adeline Yen May</li>
  <li>Memoirs of a Geisha- Arthur Golden</li>
  <li>Legend series - Marie Lu</li>
  <li>Revolution Is Not A Dinner Party - Ying Chang Compestine</li>
  <li>Stormdancer - Jay Kristoff</li>
  <li>The Joy Luck Club - Amy Tan</li>
  <li>Wild Swans: Three Daughter of China - Jung Chang</li>
  <li>Bronze and Sunflower - Can Wenxung</li>
</ul>

<%= link_to 'Home', root_path %>