<h1>North, South and Central African Reads</h1>

<ul>
  <li>The Year the Gypsies Came - Linzi Glass</li>
  <li>Ruby Red - Linzi Glass</li>
  <li>Out of Shadows - Jason Wallace</li>
  <li>The Other ME - Suzanne van Rooyen</li>
  <li>No Turning Back - Beverly Naidoo</li>
  <li>A Good Day for Climbing Trees - Jaco Jacobs</li>
  <li>Listening for Lions - Gloria Whelan</li>
  <li>The Butterfly Lion - Michael Morpurgo</li>
  <li>A Girl Named Disaster - Nancy Farmer</li>
</ul>