<h1>South and South-East Asian reads</h1>

<ul>
  <li>Chinese Cinderella - Adeline Yen May</li>
  <li>Chinese Cinderella and the Secret Dragon Society - Adeline Yen Mah</li>
  <li>Falling Leaves - Adeline Yen May</li>
  <li>Memoirs of a Geisha- Arthur Golden</li>
  <li>Legend series - Marie Lu</li>
  <li>The God of Small Things - Arundhati Roy</li>
  <li>Midnight’s Children - Salmon Rushdie</li>
  <li>A Passage to India - E.M.Forster</li>
  <li>A Suitable Boy - Vikram Seth</li>
  <li>The White Tiger - Aravind Adiga</li>
  <li>The Inheritance of Loss - Kiran Desai</li>
  <li>Three Indian Princesses - Jamila Gavin</li>
  <li>Coram Boy - Jamila Gavin</li>
</ul>

<%= link_to 'Home', root_path %>