<h1>South and Central American reads</h1>

<ul>
  <li>Forest of the Pygmies - Isabel Allende</li>
  <li>Hurricane - Terry Truman</li>
  <li>La Linea - Ann Jaramillo</li>
  <li>Emily Goldberg Learns to Salsa - Micol Ostow</li>
  <li>First Descent - Pam Withers</li>
  <li>The Red Umbrella - Christina Diaz Gonzalez</li>
  <li>The Queen of Water - Laura Resau</li>
  <li>The House of The Spirits - Isabelle Allende</li>
  <li>Journey to the River Sea - Eva Ibbotson</li>
  <li>Victoria - Silvana Goldemberg</li>
  <li>City of Beasts - Isabel Allende</li>
  <li>100 Hours - Rachel Vincent</li>
</ul>

<%= link_to 'Home', root_path %>